/*
 * __        __          _                  ____  _         _       
 * \ \      / /_ _ _   _| |__   __ _ _ __  / ___|| |_ _   _| | ___  
 *  \ \ /\ / / _` | | | | '_ \ / _` | '__| \___ \| __| | | | |/ _ \ 
 *   \ V  V / (_| | |_| | |_) | (_| | |     ___) | |_| |_| | |  __/ 
 *    \_/\_/ \__,_|\__, |_.__/ \__,_|_|    |____/ \__|\__, |_|\___| 
 *                 |___/                              |___/         
 *  
 * ----------------------------------------------------- 
*/

window#waybar {
  background-color: rgba(0, 0, 0, 0.3);
}

.modules-left {
  padding-left: 14px;
}

.modules-right {
  padding-right: 14px;
}

/* -----------------------------------------------------
 * Workspaces 
 * ----------------------------------------------------- */

#workspaces {
  font-weight: bold;
  font-style: normal;
  opacity: 0.8;
  font-size: 14px;
  margin-left: 20px;
}

#workspaces button {
  border: 0;
  border-radius: 0;
  color: white;
  transition: all 0.1s ease-in-out;
  opacity: 0.4;
}

#workspaces button.active {
  color: white;
  opacity: 1.0;
}

#workspaces button:hover {
  background: rgba(0, 0, 0, 0.5);
}

/* -----------------------------------------------------
 * Tooltips
 * ----------------------------------------------------- */

tooltip {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0.9;
  padding: 16px;
  margin: 0px;
}

tooltip label {
  color: white;
  font-size: 14px;
  font-weight: bold;
}

/* -----------------------------------------------------
 * Window
 * ----------------------------------------------------- */

#window {
  color: white;
  font-size: 16px;
  font-weight: bold;
  margin: 8px 15px 8px 0px;
  padding: 2px 10px 0px 10px;
  border-radius: 12px;
  opacity: 0.8;
}

window#waybar.empty #window {
  background-color: transparent;
  color: white;
}

/* -----------------------------------------------------
 * Taskbar
 * ----------------------------------------------------- */

#taskbar {
  margin: 6px 15px 6px 0px;
  padding: 0px;
  border-radius: 15px;
  font-weight: normal;
  font-style: normal;
  opacity: 0.8;
}

#taskbar button {
  margin: 0;
  border-radius: 15px;
  padding: 0px 5px 0px 5px;
}

#taskbar.empty {
  background: transparent;
  border: 0;
  padding: 0;
  margin: 0;
}

/* -----------------------------------------------------
 * Modules
 * ----------------------------------------------------- */

.modules-left>widget:first-child>#workspaces {
  margin-left: 0px;
}

.modules-right>widget:last-child>#workspaces {
  margin-right: 0;
}

/* -----------------------------------------------------
 * Custom Quicklinks
 * ----------------------------------------------------- */

#custom-browser,
#custom-keybindings,
#custom-filemanager,
#custom-calculator,
#custom-windowsvm,
#custom-cliphist,
#custom-wallpaper,
#custom-settings,
#custom-system,
#custom-nautilus,
#custom-hyprshade,
#custom-hypridle,
#custom-tools,
#custom-terminal,
#custom-appmenu,
#custom-updates,
#clock,
#battery,
#custom-settings,
#pulseaudio,
#bluetooth,
#bluetooth.on,
#bluetooth.connected,
#network,
#custom-exit,
#custom-waybarthemes {
  font-size: 16px;
  font-weight: bold;
  padding: 0 10px 0 10px;
  opacity: 0.8;
}

#custom-browser:hover,
#custom-keybindings:hover,
#custom-filemanager:hover,
#custom-calculator:hover,
#custom-windowsvm:hover,
#custom-cliphist:hover,
#custom-wallpaper:hover,
#custom-settings:hover,
#custom-system:hover,
#custom-nautilus:hover,
#custom-hyprshade:hover,
#custom-hypridle:hover,
#custom-tools:hover,
#custom-appmenu:hover,
#custom-terminal:hover,
#custom-updates:hover,
#pulseaudio:hover,
#bluetooth:hover,
#clock:hover,
#network:hover,
#custom-exit:hover,
#battery:hover,
#custom-waybarthemes:hover {
  background: rgba(0, 0, 0, 0.5);
  transition: ease-out 0.1s all;
}

#custom-quicklink1,
#custom-quicklink2,
#custom-quicklink3,
#custom-quicklink4,
#custom-quicklink5,
#custom-quicklink6,
#custom-quicklink7,
#custom-quicklink8,
#custom-quicklink9,
#custom-quicklink10 {
  margin-right: 20px;
}


#custom-tools {
  margin-right: 12px;
}

/* #custom-hypridle.active { */
/*   color: @iconcolor; */
/* } */

#custom-hypridle.notactive {
  color: #dc2f2f;
}

/* -----------------------------------------------------
 * Idle Inhibator
 * ----------------------------------------------------- */

#idle_inhibitor {
  margin-right: 17px;
  font-size: 20px;
  font-weight: bold;
  opacity: 0.8;
}

#idle_inhibitor.activated {
  margin-right: 15px;
  font-size: 20px;
  font-weight: bold;
  opacity: 0.8;
  color: #dc2f2f;
}

/* -----------------------------------------------------
 * Custom Modules
 * ----------------------------------------------------- */

/* -----------------------------------------------------
 * Custom Exit
 * ----------------------------------------------------- */

/* -----------------------------------------------------
 * Custom Updates
 * ----------------------------------------------------- */

/* #custom-updates.green { */
/*   background-color: @backgroundlight; */
/* } */

#custom-updates.yellow {
  background-color: #ff9a3c;
  color: #FFFFFF;
}

#custom-updates.red {
  background-color: #dc2f2f;
  color: #FFFFFF;
}

/* -----------------------------------------------------
 * Hardware Group
 * ----------------------------------------------------- */

#disk,
#memory,
#cpu,
#language {
  margin: 0px;
  padding: 0px;
  font-size: 16px;
}

#language {
  margin-right: 10px;
}


/* -----------------------------------------------------
 * Backlight
 * ----------------------------------------------------- */

#backlight {
  font-size: 16px;
  border-radius: 15px;
  padding: 2px 10px 0px 10px;
  margin: 8px 15px 8px 0px;
  opacity: 0.8;
}


/* #pulseaudio.muted { */
/*   background-color: @backgrounddark; */
/*   color: @textcolor1; */
/* } */

/* -----------------------------------------------------
 * Network
 * ----------------------------------------------------- */

/* #network.ethernet { */
/*   background-color: @backgroundlight; */
/*   color: @textcolor2; */
/* } */

/* #network.wifi { */
/*   background-color: @backgroundlight; */
/*   color: @textcolor2; */
/* } */

/* -----------------------------------------------------
 * Bluetooth
 * ----------------------------------------------------- */

#bluetooth.off {
  background-color: transparent;
  padding: 0px;
  margin: 0px;
}

/* -----------------------------------------------------
 * Battery
 * ----------------------------------------------------- */

/* #battery.charging, */
/* #battery.plugged { */
/*   color: @textcolor2; */
/*   background-color: @backgroundlight; */
/* } */

/* @keyframes blink { */
/*   to { */
/*     background-color: @backgroundlight; */
/*     color: @textcolor2; */
/*   } */
/* } */

#battery.critical:not(.charging) {
  background-color: #f53c3c;
  /* color: @textcolor3; */
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

/* -----------------------------------------------------
 * Tray
 * ----------------------------------------------------- */

/* #tray { */
/*   padding: 0px 15px 0px 0px; */
/*   color: @textcolor3; */
/* } */

#tray>.passive {
  -gtk-icon-effect: dim;
}

#tray>.needs-attention {
  -gtk-icon-effect: highlight;
}
